<div class="container">
<h1>Cool Restaurants</h1>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
<%= link_to "Add Another Restaurant", new_restaurant_path %>
</div>
